<div class="container-fluid h-100 w-100">
    <div class="col-12 h-100 w-100 d-flex justify-content-center align-items-start p-3">
        <div class="form-wrapper">
            <form [formGroup]="carOperationsForm">
                <div class="mb-3">
                    <select formControlName="brandid">
                        <option value="" disabled selected hidden>Brand</option>
                        <option *ngFor="let brand of allBrands" value={{brand.brandId}}>{{brand.brandName}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select formControlName="colorid">
                        <option value="" disabled selected hidden>Color</option>
                        <option *ngFor="let color of allColors" value={{color.colorId}}>{{color.colorName}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" formControlName="name" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="text" formControlName="modelyear" placeholder="Model Year">
                </div>
                <div class="mb-3">
                    <input type="number" formControlName="dailyprice" placeholder="Daily Price">
                </div>
                <div class="mb-3">
                    <input type="text" formControlName="description" placeholder="Description">
                </div>
                <div class="button-wrapper">
                    <div *ngIf="editModeOn" class="mb-3">
                        <button (click)="clearForm()">New Record</button>
                    </div>
                    <div class="mb-3">
                        <button (click)="save()" type="submit">Save</button>
                    </div>
                    <div *ngIf="editModeOn" class="mb-3">
                        <button (click)="deleteCar()">Delete</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-wrapper p-2">
            <table class="table">
                <thead>
                  <tr style="text-align: center;">
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Brand Id</th>
                    <th scope="col">Color Id</th>
                    <th scope="col">Model Year</th>
                    <th scope="col">Daily Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="loadToForm(car)" *ngFor="let car of allCars" style="text-align: center;">
                    <th scope="row">{{car.carId}}</th>
                    <td>{{car.name}}</td>
                    <td>{{car.brandId}}</td>
                    <td>{{car.colorId}}</td>
                    <td>{{car.modelYear}}</td>
                    <td>{{car.dailyPrice}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>