<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />

<div class="container-fluid p-0">
  <div class="row">
    <div class="col-2 p-0">
      <div class="control-panel">
        <div class="title">Admin Panel</div>
        <div class="button-wrapper">
          <button (click)="selected='carOperations'">Car Operations</button>
          <button (click)="selected='rentalOperations'">Rental Operations</button>
          <button (click)="selected='customerOperations'">Customer Operations</button>
          <button (click)="selected='brandOperations'">Brand Operations</button>
          <button (click)="selected='colorOperations'">Color Operations</button>
          <button>...</button>
          <button>...</button>
        </div>
        <div class="footer">Rent A Car</div>
      </div>
    </div>
    <div class="col-10">
        <app-car-operations-form *ngIf="selected == 'carOperations'"></app-car-operations-form>
        <app-rental-operations-form *ngIf="selected == 'rentalOperations'"></app-rental-operations-form>
      </div>
    </div>
  </div>