<div class="container-fluid h-100 w-100">
    <div class="col-12 h-100 w-100 d-flex justify-content-center align-items-start p-3">
        <div class="form-wrapper">
            <form [formGroup]="brandOperationsForm">
                <div class="mb-3">
                    <input type="text" formControlName="brandName" placeholder="Brand Name">
                </div>
                <div class="button-wrapper">
                    <div *ngIf="editModeOn" class="mb-3">
                        <button (click)="clearForm()">New Record</button>
                    </div>
                    <div class="mb-3">
                        <button (click)="save()" type="submit">Save</button>
                    </div>
                    <div *ngIf="editModeOn" class="mb-3">
                        <button (click)="deleteBrand()">Delete</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-wrapper p-2">
            <table class="table">
                <thead>
                  <tr style="text-align: center;">
                    <th scope="col">Id</th>
                    <th scope="col">Brand Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="loadToForm(brand)" *ngFor="let brand of allBrands" style="text-align: center;">
                    <th scope="row">{{brand.brandId}}</th>
                    <td>{{brand.brandName}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>