<div class="container-fluid h-100 w-100">
    <div class="col-12 h-100 w-100 d-flex justify-content-center align-items-start p-3">
        <div class="form-wrapper">
            <form [formGroup]="rentalOperationsForm">
                <div class="mb-3">
                    <select formControlName="carId">
                        <option value="" disabled selected hidden>Car</option>
                        <option *ngFor="let car of allCars" value={{car.carId}}>{{car.brandName}} {{car.carName}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select formControlName="customerId">
                        <option value="" disabled selected hidden>Customer</option>
                        <option *ngFor="let customer of allCustomers" value={{customer.customerId}}>{{customer.firstName}} {{customer.lastName}}</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="rentDate">Rent Date</label>
                    <input id="rentDate" type="date" formControlName="rentDate">
                </div>
                <div class="mb-3">
                    <label for="returnDate">Return Date</label>
                    <input id="returnDate" type="date" formControlName="returnDate">
                </div>
                <div class="button-wrapper">
                    <div *ngIf="editModeOn" class="mb-3">
                        <button (click)="clearForm()">New Record</button>
                    </div>
                    <div class="mb-3">
                        <button (click)="save()" type="submit">Save</button>
                    </div>
                    <div *ngIf="editModeOn" class="mb-3">
                        <button (click)="deleteRental()">Delete</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-wrapper p-2">
            <table class="table">
                <thead>
                  <tr style="text-align: center;">
                    <th scope="col">Id</th>
                    <th scope="col">Car Id</th>
                    <th scope="col">Customer Id</th>
                    <th scope="col">Rent Date</th>
                    <th scope="col">Return Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="loadToForm(rental)" *ngFor="let rental of allRentals" style="text-align: center;">
                    <th scope="row">{{rental.rentalId}}</th>
                    <td>{{rental.carId}}</td>
                    <td>{{rental.customerId}}</td>
                    <td>{{rental.rentDate | date}}</td>
                    <td>{{rental.returnDate | date}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>