<div class="container-fluid h-100 w-100">
    <div class="col-12 h-100 w-100 d-flex justify-content-center align-items-start p-3">
        <div class="form-wrapper">
            <form [formGroup]="rentalOperationsForm" (ngSubmit)="save()">
                <div class="mb-3">
                    <select formControlName="brandid">
                        <option value="" disabled selected hidden>Brand</option>
                        <option value="1">Fiat</option>
                        <option value="2">Renault</option>
                        <option value="3">Ford</option>
                        <option value="4">Kia</option>
                    </select>
                </div>
                <div class="mb-3">
                    <select formControlName="colorid">
                        <option value="" disabled selected hidden>Color</option>
                        <option value="1">Black</option>
                        <option value="2">White</option>
                        <option value="3">Grey</option>
                        <option value="4">Red</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" formControlName="name" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="text" formControlName="modelyear" placeholder="Model Year">
                </div>
                <div class="mb-3">
                    <input type="number" formControlName="dailyprice" placeholder="Daily Price">
                </div>
                <div class="mb-3">
                    <input type="text" formControlName="description" placeholder="Description">
                </div>
                <div *ngIf="editModeOn" class="mb-3">
                    <button (click)="clearForm()">New Record</button>
                </div>
                <div class="mb-3">
                    <button type="submit">Save</button>
                </div>
                <div *ngIf="editModeOn" class="mb-3">
                    <button (click)="deleteRental()">Delete</button>
                </div>
            </form>
        </div>
        <div class="table-wrapper p-2">
            <table class="table">
                <thead>
                  <tr style="text-align: center;">
                    <th scope="col">Id</th>
                    <th scope="col">Car Id</th>
                    <th scope="col">Customer Id</th>
                    <th scope="col">Rent Date</th>
                    <th scope="col">Return Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="loadToForm(rental)" *ngFor="let rental of allRentals" style="text-align: center;">
                    <th scope="row">{{rental.rentalId}}</th>
                    <td>{{rental.carId}}</td>
                    <td>{{rental.customerId}}</td>
                    <td>{{rental.rentDate}}</td>
                    <td>{{rental.returnDate}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>